.contact_Section2 .form-control
    margin-top: 38px
.contact_text
    margin-top: 38px
    font-size: 17px
    font-weight: 400
.contact_Section2 h5
    font-weight: 500
    color: grey
.contact_Section2 button
    font-weight: bolder