
.date
    position: absolute 
    h5
        padding: 20px 20px 20px 20px
.text
    position: absolute 
    padding-left: 30%
    padding-top: 36%
    margin-left: 36%
    h5
        padding: 10px 10px 10px 10px
.text1
    position: absolute 
    padding-left: 50%
    padding-top: 37%
    margin-left: 11%
    h5
        padding: 10px 10px 10px 10px
.text2
    position: absolute 
    padding-left: 50%
    padding-top: 37%
    margin-left: 13%
    h5
        padding: 10px 10px 10px 10px
.card1
    margin-top: 70px
.carde2
    margin-bottom: 25px
.bg
    background-image: url('../img/book-bg.jpg')
    height: 600px
    width: 100%
    background-size: cover
    h4
        margin-top: 70px
    .formulaire
        margin-top: 5%
        margin-bottom: 5%

.sing
    background-image: url('../img/signup-bg.jpg')
    background-size: cover
    height: 300px

    form
        margin-bottom: 25%
        // margin-left: 15%

        