.date
    position: absolute 
.image
    position:   relative 
.text
    position: absolute 
    padding-left: 50%
    padding-top: 47%
    margin-left: 26%
.text1
    position: absolute 
    padding-left: 50%
    padding-top: 47%
    margin-left: 22%
.bg
    background-image: url('../img/book-bg.jpg')
    height: 500px
    h4
        margin-top: 15%
    .formulaire
        margin-top: 5%
        margin-bottom: 5%