@media screen and ( max-width: 767px )
    body
        font-size: 9px !important
        .carte
            display: flex
            justify-content: center
            padding-top: 5%
        .bg
            height: 940px
            .formulaire
                max-width: 250px !important
                h1
                    font-size: 20px !important
        .image2
                width: 200px !important
        
        @media screen and ( min-width: 767px ) and (max-width:1023px)
            .section1
                font-size:15px 
            .formulaire
                max-width: 300px !important
            .image2
                width: 400px !important
            .image-card2
                height: 150px !important
                padding: 0 !important
            .sing
                height: 200px

