@media screen and ( max-width: 767px )
    body
        font-size: 9px !important
        .carte
            display: flex
            justify-content: center
            padding-top: 5%
        .bg
            height: 940px
            .formulaire
                max-width: 250px !important
                h1
                    font-size: 20px !important
        footer
            display: flex !important
            flex-direction: column !important
        // .image-card
        //             padding-top: 500px !important 
        //             padding-bottom: 500px !important 
        //             width: 100% !important
        //             height: 100% !important
        //             .image-width
        //                 width: 500px !important
        //                 height: 500ox !important
        // .formulaire
        //     max-width: 250px !important
        //     padding-top: 5% !important
        //     padding-bottom: 5% !important
        @media screen and ( min-width: 767px ) and (max-width:1023px)
            .section1
                font-size:15px 
            .formulaire
                max-width: 300px !important
        
